<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url('/images/imagenHistorial.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        filter: contrast(200%);
    }
    .nav{
        background-color: black;
    }
    .genera{
        color: #E8F8F5;
        background-color: black;
        font-family: Calibri;
        font-size: 15px;
    }
    a{
        color: aliceblue;
    }
    .container{
        padding-top: 6%;
    }
    .estil{
        height: 40px;
        width: 800px;
        padding-top: 3em;
        left: 38em;
    }
    label{
        font-size: 20px;
        font-family: Calibri;
        padding-right: 1%;
    }


</style>
<head>
    <title>Medical History</title>
    <script src="/webjars/jquery/3.0.0"></script>
    <script src="/webjars/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/3.0.0/css/bootstrap-combobox.css" rel="stylesheet"/>

    <script>
        function buscar() {
            var palabra=document.getElementById("x").value;

            if(palabra === "" || palabra === " "|| palabra === "  "|| palabra === "   "|| palabra === "    "|| palabra === "    "|| palabra === "      "|| palabra === "       "){
                location.href ="/histories";
            }
            else {
                location.href ="/histories/busqueda/" + palabra;
            }

        }

        function mostrarImagen() {
            var imagen=document.getElementById("ima");

            imagen.setAttribute('src','/images/defecto.png')
            imagen.style.height="100",width="100";
        }
    </script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="genera">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/histories"><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: white;"></span></a></li>
                <li><a style="color: white; font-size: 15px;" href="/history/new">Nueva historial</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar" value="" id="x"/>
                </div>
                <a style="color: white;" type="button"  class="glyphicon glyphicon-search" id="boton" onclick="buscar()"/>
            </form>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: white; font-size: 15px;" href="/user/profile"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a style="color: white; font-size: 15px;" th:href="${'/logout'}"><Afiliados>Cerrar Sesion</Afiliados></a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>
<div class="container">
    <br/>
    <form class="form-horizontal" th:object="${history}" th:action="@{/history}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" name="user" th:value="${use.id}"/>
        <div class="estil">
            <div style="width: 500px; margin-left:37em;" class="form-group">
                <label>Titulo:</label>
                <input type="text" th:field="*{title}" required="required"
                       onchange="try{setCustomValidity('')}catch(e){}" id="title" name="title"
                       class="form-control"/>
            </div>

            <div style="width: 500px; margin-left:37em" class="form-group">
                <label>Texto:</label>
                <input type="text" th:field="*{text}" required="required"
                       onchange="try{setCustomValidity('')}catch(e){}" id="text" name="text"
                       class="form-control"/>
            </div>

            <div style="width: 500px; margin-left:37em" class="form-group">
                <label>Comentario:</label>
                <input type="text" class="form-control" th:field="*{commentary}"/>
            </div>

            <div style="width: 160px; margin-left:37em" class="form-group">
                <label>Fecha:</label>
                <input type="date" th:field="*{date}" pattern="[0-9]{1,}"
                       oninvalid="setCustomValidity('Debe ingresar una fecha valida.')" onchange="try{setCustomValidity('')}catch(e){}"
                       id="date" name="date" required="required"
                       placeholder="Date" class="form-control" />
            </div>

            <div style="width: 160px; margin-left:37em" class="form-group">
                <label>Categoria:</label>
                <select class="form-control" name="category" id="category">
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                            th:selected="(${category.id} == ${history.category.id})"></option>
                </select>
            </div>

            <div style="width: 160px; margin-left:37em" class="form-group">
                <label>Fotografia:</label>
                <img id="ima" th:src="${'/images/' + history.title + '.jpg'}" onerror="mostrarImagen()" height= "250" width= "250" align="middle"/>
                <div>
                    <p>Seleccionar foto:</p>
                    <input type="file" name="file"/>
                </div>
            </div>

            <center><div class= "row">
                <button style="background-color: #086A87; color: aliceblue; margin-left:38em;" type="submit" class="btn btn-default">Guardar</button>
            </div>
            </center>
        </div>
    </form>

</div>

</body>
</html>