<!DOCTYPE html>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url('/images/imagenHistorial.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 80;
    }
    .nav{
        background-color: black;
    }
    .genera{
        color: #E8F8F5;
        background-color: black;
        font-family: Calibri;
        font-size: 15px;
    }
    a{
        color: aliceblue;
    }
    .row{
        color: black;
        font-family: Calibri;
        font-size: 15px;
        padding-top: 7%;
        padding-left: 48em;
    }
    .row p{
        font-size: 20px;
        padding-left: 0.5em;
        color: #166793;
    }
    .row label{
        font-family: Calibri;
    }

</style>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Medical History</title>
    <script src="/webjars/jquery/3.0.0"></script>
    <script src="/webjars/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>

    <script>

        function compartir() {
            var idHistorial=document.getElementById("idHistorial").value;
//            location.href ="/history/compartir/" + idHistorial;
            window.location.href="http://www.facebook.com/sharer/?u=whispering-chamber-77678.herokuapp.com//history/compartir/" + idHistorial ;


        }

        function buscar() {
            var palabra=document.getElementById("x").value;

            if(palabra === "" || palabra === " "|| palabra === "  "|| palabra === "   "|| palabra === "    "|| palabra === "    "|| palabra === "      "|| palabra === "       "){
                location.href ="/histories";
            }
            else {
                location.href ="/histories/busqueda/" + palabra;
            }

        }

        function mostrarImagen() {
            var imagen=document.getElementById("ima");

            imagen.setAttribute('src','/images/defecto.png')
        }


    </script>


</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="genera">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/histories"><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: white;"></span></a></li>
                <li><a style="color: white; font-size: 15px;" href="/history/new">Nueva historial</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar" value="" id="x"/>
                </div>
                <a style="color: white;" type="button"  class="glyphicon glyphicon-search" id="boton" onclick="buscar()"/>
            </form>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: white; font-size: 15px;" href="/user/profile"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a style="color: white; font-size: 15px;" th:href="${'/logout'}"><Afiliados>Cerrar Sesion</Afiliados></a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>
<div class="row">
    <input type="hidden" id="idHistorial" th:value="${history.id}"/>
    <!--<button onclick="SaveAsPdf()">Compartir</button>-->
    <b><label style="font-size: 21px;"> Titulo: </label></b><p class="card-title" th:text="${history.title}"></p>
    <b><label style="font-size: 21px;">Texto: </label></b><p class="card-text" th:text="${history.text}"></p>
    <b><label style="font-size: 21px;">Comentario: </label></b><p class="card-text" th:text="${history.commentary}"></p>
    <br/>
    <b><label style="font-size: 21px;">Fecha: </label></b><p class="card-text" th:text="${history.date}"></p>
    <b><label style="font-size: 21px;">Categoria: </label></b><p class="card-text" th:text="${history.category.name}"></p>
    <b><label style="font-size: 21px;">Fotografia: </label></b>
    <br/>
    <img id="ima" th:src="${'/images/' + history.title + '.jpg'}" onerror="mostrarImagen()" height= "250" width= "250" align="middle"/>
    <br/><br/>
    <a style="background-color: #086A87; color: aliceblue;" class="btn btn-default" th:href="${ '/histories'}">Volver</a>
    <a style="background-color: #086A87; color: aliceblue;" class="btn btn-default" th:href="${ '/history/edit/' + history.id}">Editar</a>
    <a style="background-color: #086A87; color: aliceblue;" class="btn btn-default" onclick="compartir()"> Compartir</a>

</div>


</body>
</html>