<!DOCTYPE html>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url("https://jwinsurance.com/wp-content/uploads/2017/02/doctors_desk.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 80;
    }
    .nav{
        background-color: black;
    }
    .genera{
        color: #E8F8F5;
        background-color: black;
        font-family: Calibri;
        font-size: 15px;
    }
    a{
        color: aliceblue;
    }



</style>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Medical History</title>
    <script src="/webjars/jquery/3.0.0"></script>
    <script src="/webjars/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function buscar() {
            var palabra=document.getElementById("x").value;

            if(palabra === "" || palabra === " "|| palabra === "  "|| palabra === "   "|| palabra === "    "|| palabra === "    "|| palabra === "      "|| palabra === "       "){
                location.href ="/histories";
            }
            else {
                location.href ="/histories/busqueda/" + palabra;
            }

        }

        function confSubmit(id) {
            if (confirm("Esta seguro que desea eliminar el historial?")) {
                location.href="/history/delete/"+$(id).attr("id");
            }
        }
    </script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="genera">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/histories"><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: white;"></span></a></li>
                <li><a style="color: white; font-size: 15px;" href="/history/new">Nueva historial</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar" value="" id="x"/>
                </div>
                <a style="color: white;" type="button"  class="glyphicon glyphicon-search" id="boton" onclick="buscar()"/>
            </form>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: white; font-size: 15px;" href="/user/profile"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a style="color: white; font-size: 15px;" th:href="${'/logout'}"><Afiliados>Cerrar Sesion</Afiliados></a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>

<div class="container">
    <div th:if="${not #lists.isEmpty(histories)}">
        <br/>
       <center> <h1 style="color: #166793; font-size: 6em;">Historias</h1></center>
        <table style="background-color: rgba(255,255,255,0.68); padding-right: 30%;" bordercolor="#0D2C45" border="2px" class="table">
            <tr style="color: #080314">
                <th>Titulo</th>
                <th>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Fecha
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/histories/date">Reciente</a></li>
                            <li><a href="/histories/dateA">Antiguas</a></li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categorias
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/histories/filtrar/1">Analisis</a></li>
                            <li><a href="/histories/filtrar/2">Consulta</a></li>
                            <li><a href="/histories/filtrar/3">Examen Medico</a></li>
                        </ul>
                </div>
                </th>
                <th>Acciones</th>
            </tr>
            <tr style="font-family: Calibri; font-size: 15px; color: #080314;" th:each="history : ${histories}">
                <center>
                <td style="font-family: Calibri; font-size: 15px; font-weight: 500;" th:text="${history.title}">Titulo</td>
                <td style="font-family: Calibri; font-size: 15px; font-weight: 500;" th:text="${history.date}">Fecha </td>
                <td style="font-family: Calibri; font-size: 15px; font-weight: 500;" th:text="${history.category.name}">Categoria</td>
                </center>
          <td style="margin-right: 60%;">
                <a style="background-color:#166793; border-color:#166793; " class="btn btn-info" th:href="${ '/history/' + history.id}" >Ver</a>
                <div style="background-color:#166793; border-color:#166793;" class="btn btn-danger"  onClick="confSubmit(this);" th:id="${history.id}">Eliminar</div>
                <a style="background-color:#166793; border-color:#166793;" class="btn btn-warning" th:href="${ '/history/edit/' + history.id}">Editar</a>
                </td>
            </tr>

        </table>

    </div>
</div>


</body>
</html>